
<% if flash[:notice] %>
<div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
<% end %>

    <table class='table table-bordered'>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preços</th>
            </tr>
        </thead>
        <tbody>
            <%= render @produtosnome%>
        </tbody>
    </table>

    <table class='table table-bordered'>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preços</th>
            </tr>
        </thead>
        <tbody>
            <%= render @produtospreco%>
        </tbody>
    </table>
    <%= link_to "Criar novo produto", new_produto_path %>
