<html>
<body>
<form action="/produto" method="POST">
    
    Nome <input type="text" name="nome"/><br>

    Descrição
    <textarea name="descricao"></textarea><br>

    Preço <input type="number" name="preco" step="0.01"><br>
    <button type="submit">Criar</button>
   
</form>
</body>
</html>